$background-color: #fdfdfd;
$text-color: #000000;
$accent-color: #009427;
$primary-color: #47ffa9;
$secondary-color: #ababab;

//dark mode colors
$background-color-dark: #000f0f;
$text-color-dark: #ffffff;
$accent-color-dark: #6bff92;
$primary-color-dark: #00b761;
$secondary-color-dark: #555555;

$mobile-width: 430px;
$tablet-width: 900px;
$desktop-width: 1200px;
